/*
 * Base structure
 */
body {
  padding-top: 50px;
}
.navbar-fixed-top {
  border: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main{
  margin-top: 0;
}
.page-header {
  position: fixed;
  margin-top: 0;
  width:70%;
}
.page_content {
  margin-top: 140px;
}

/*
 * Table
 */
.guest_table{
  table-layout:fixed;
  width:100%;
  min-width:500px;
}

.guest_table th.tbl_sort{ width:5%; }
.guest_table th.tbl_lname{ width:15%; }
.guest_table th.tbl_fname{ width:15%; }
.guest_table th.tbl_zip{ width:15%; }
.guest_table th.tbl_address{ width:25%; }
.guest_table th.tbl_tel{ width:15%; }
.guest_table th.tbl_del{ width:10%; }

input.fm_lname
,input.fm_fname
,input.fm_phone
,input.fm_address{
  width:100%;
}
input.fm_zip{
  width:65%;
}

.handle{
  cursor: move;
}

.caption{
  float: left;
  color: #9d9d9d;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
}

